 body  
{  
    margin: 0;  
    padding: 0;   
    font-family: 'Arial';  
} 

#frm{
    margin-left: 80px;  
   text-align: right
    
}

h2{ 
    text-align: center;
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 30px;
            color: #fff;
            border-color:  #663ef9;
            border-radius: 10px;
            font-size: 30px;
            padding: 10px 32px; 
            background-color: #663ef9;
     
} 
label{  
    color: #663ef9;  
}
     


#user{  
      
    padding-top: 10px;
    padding-bottom: 10px;  
    padding-right: 5px;
    padding-left: 5px;
    border-color:#7e1997;
    
    
}
   
#Pass{
    padding-top: 10px;
    padding-bottom: 10px;  
    padding-right: 5px;  
    padding-left: 5px;
    border-color: #5702ff; 

     
    
      
} 
  
#btn{
    background-color: #663ef9;
    padding: 10px 10px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
} 
